
.root {
    -fx-background-color: #dde1e7;
    -fx-background-radius: 1em;

}
.container {
    -fx-background-color: #dde1e7;
    -fx-background-radius: .5em;
}

.result {
    -fx-background-color: #dde1e7;
}

.mybutton {
    -fx-background-color: #dde1e7;
    -fx-cursor: hand;
    -fx-background-radius: 50%;
}
.mybutton:hover {
    -fx-background-color:#d0d4d9;
}
.zero{
    -fx-background-radius: 10px;
}

.buttonText:hover {
    -fx-text-fill: #3498db;
}